html {
	padding: 0;
	margin: 0;
	height: 100%;
	box-sizing: border-box;
	font-size: 12px;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.flex {
	display: flex;
	max-width: 2400px;
}

#hero-right {
    flex: 1;
    height: 100vh;
    background: url('me.png')no-repeat center center;
    background-size: cover;
    background-position: bottom;
}

#hero-left {
	flex: 1;
	height: 100vh;
	background: red;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

