$black  : #193441;
$color1 : #008DFF;
$color2 : darken($color1, 10%);
$color3 : #FF7A00;
$sectionPadding : 0 10%;
$white  : darken(white, 2%);

@import "normalize";


@font-face {
  font-family: 'Norway';
  src: url('noway-regular-webfont.woff2') format('woff2'),
       url('noway-regular-webfont.woff') format('woff'),
       
}


html {
	padding: 0;
	margin: 0;
	height: 100%;
	box-sizing: border-box;
	font-size: 12px;
}

body {
	height: 100%;
	margin: 0;
	padding: 0; 
	color: $black;
	font-family: 'Norway', sans-serif;
}

.resumeslice {
	position: fixed;
	left: 0;
	top: 0;
	width: 140px;
	height: 140px;
	background-image: -webkit-linear-gradient(-45deg, $white 50%, transparent 50%);
	margin-top: 0;
	z-index: 9999;
	


	span {
		display: inline-block;
		text-transform: uppercase;
		background-color: $white;
		border-radius: 4px;
		width: auto;
		margin-top: 41px;
		margin-bottom: 5px;
		color: $color2;

	}

}
	.resalign {
		width: 100%;
		height: 75px;
		margin-top: 5px;
		padding-left: 15px;
		padding-top: 0;
		
	}

#hero {
	max-width: 2400px;
	background-image: url(me.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: bottom right;
}

.flex {
	display: flex;
	background: linear-gradient(135deg, rgba($color1, .9), rgba($color2, .9) 60%);
	padding: $sectionPadding;
	position: relative;
}

nav{
	position: absolute;
	left: 10%;
	top: 25px;
}


#hero-left {
	height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
	text-align: left;
	color: white;
	width: 50%;
	// testing
}


#title {
	font-size: 7rem;
	margin-bottom: 2%;
	text-shadow: 3px 3px 5px rgba(darken($color1, 5%), 0.8);
	font-weight: 700;
}


.buttons {
	//max-width: 30rem;
	display: flex;
	//justify-content: space-between;
	margin-top: 2%;

	a:nth-child(2){
		margin: 0 15px;
	}
}

.button {
	text-decoration: none;
	color: black;
	font-size: 1.5rem;
	display: inline-block;
	transition: .2s all cubic-bezier(.45, .24, .85, 1);
	text-decoration: none;
}

	.button1{
		//border: 1px solid $black;
		padding: 10px 25px 0 0;
		border-radius: 10px;
		text-transform: lowercase;
		font-variant: small-caps;
		color: $white;
	}

.button:hover {
	color: black;

}

.portfolio {
	box-sizing: border-box;
	border: 10px solid white;
	background: linear-gradient(180deg, $color2, darken($color2, 8%) 60%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.top {
	.card-title {
		font-size: 2.5rem;
	}

	.work-links {
		float: right;
		margin-left: 5%;

		a {
			color: white;
		}
	}
}

.card {
	max-width: 70%;
	background: #02C8A7;
	box-sizing: border-box;
	border: 10px solid white;
	margin-top: 8%;
	color: white;
	padding: 2%;


	img {
		max-width: 35rem;
		border: 5px solid #00FFA0;

	}

	.inner {
		display: flex;
		justify-content: space-around;
	}

	.inner-card-right {
		padding-left: 2%;
		padding-right: 2%;
		font-size: 1.3rem;
	}

	.important {
		font-size: 1.5rem;
	}

}

.card:last-child {
	margin-bottom: 5%;
}

.headliner {
	position: relative;
	top: -60px;
	left: -10%;
	font-size: 3rem;
	background-color: #02C8A7;
	padding: 2% 8%;
	border: 10px solid white;


}


footer {
	background: #0CDDE8;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 10rem;
	color: white;
}





