#portfolio-title {
	width: 65%;
	margin-left: 10%;
	margin-top: 4%;

	h2 {
		font-size: 3rem;
		color: $blue;
	}
}


#image-container {
	width: 80%;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
	display: flex;
	flex-wrap: wrap;

	img {
		max-width: 48%;
		max-height: 20rem;
		margin: 1% 2% 1% 0;


		@media screen and (max-width: 1200px) {
			margin: 1%;
			max-width: 100%;
		}
	}

}

