#portfolio-title {
	width: 50%;
	margin-left: 10%;

	h2 {
		font-size: 3rem;
		color: $blue;
	}
}


#image-container {
	width: 80%;
	margin: 0 auto;

	margin-top: 5%;
	margin-bottom: 5%;
	display: flex;
	flex-flow: row-wrap;
}

.image-card {
	width: 20rem;
	height: 20rem;
	flex: auto;

}

#image1 {
	background: url(../images/albatross-half.png)no-repeat center center;
	background-size: cover;
}

#image2 {
	background: url(../images/fitfuture-half.png)no-repeat center center;
	background-size: cover;
}

#image3 {
	background: url(../images/portfolio-half.png)no-repeat center center;
	background-size: cover;
}

#image4 {
	background: url(../images/brandish-half.png)no-repeat center center;
	background-size: cover;
}